<footer style="margin-top:450px;" class="container-fluid">
    <div class="row justify-content-center align-items-center bg-dark" style="height:120px;">
        <div class="text-center text-white p-0">&copy; @DateTime.Now.Year BookStore</div>
    </div>
</footer>